 *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif
 }

 body{
    padding: 30px;
 }

 .Card{
    height: 450px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19);
 }

 /* Top Section */

 .Top-section{
    height: 25%;
    background: #FD1857;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }

 /* Bottom Section */

 .Bottom-section{
    height: 75%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 }

 .img-section{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .profile-section{
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    width: 50%;
    align-items: center;
    margin-top: -88px;
 }

 .profile-img{
    background-color: rgb(231, 221, 221);
    background-size: cover;
    border-radius: 50%;
    height: 136px;
    width: 100%;
 }

 #main-heading{
    color: #FD1857; 
    text-align: center;
    font-size: 23px;
    margin-top: 8px;
 }

 #sub-heading{
    text-align: center;
    color: #8B8B8B;
    font-size: 17px;
 }

 .follower-count{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin-top: 27px;
 }

 .follower-count span{
    font-weight: 700;
    font-size: 27px;
 }

 .tert-text{
    font-weight: 700;
    color: #FD1857; 
    font-size: 24px;
 }

 .Follower-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 22px;
 }

 .Primary-btn{
    width: 128px;
    height: 45px;
    border-radius: 35px;
    border: none;
    background-color: #FD1857; 
    font-weight: 600;
    color: white;
    font-size: 14px;
 }

 .Secondary-btn{
    color: #FD1857; 
    border: 2px solid #FD1857;
    width: 128px;
    height: 45px;
    border-radius: 35px;
    background: none;
    font-weight: 600;
    font-size: 14px;
 }

 /* Dynamic colors section */

 .Dynamic-colors-btns{
    height: 47px;
    width: 30%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19);
 }